:root {
    --main-color-background: #D9D9D9;
    --sec-color-background: #d9d9d9a4;
    --secondary-color: #000099;
    --text-color: white;
    --text-color-night: black;
    --title-color: #FF4A00;
}

/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
}

/* barra de rolagem */

html ::-webkit-scrollbar{
    width: 10px;
  }
  
  html ::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 5px;
  }
  
  html ::-webkit-scrollbar-track{
    background-color: transparent;
    width: 5px;
  }

/* Container 1 */
#container-01-main {
    background: rgb(0,0,153);
    background: linear-gradient(106deg, rgba(0,0,153,1) 26%, rgba(255,74,0,1) 100%);
    height: 700px;
}

#header{
    text-align: center;
}

#header li {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

#header ul li {
    display: inline-block; 
    margin-right: 0;
}

#container-01-main a{
    color: var(--text-color);
    font-weight: bolder;
    text-decoration: none;
}

/*Menu*/
.menu-button {
    color: var(--title-color);
    display: none;
    cursor: pointer;
    width: 50px; 
    height: 50px;
    font-size: 24px;
    margin: 10px;
    margin-left: 15px;
}


/* Estilo para o menu principal */
#container-01-main {

    color: white;
}

#header ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
}

/* Estilos para telas pequenas (max-width: 1000px) */
@media screen and (max-width: 1000px) {
    .menu-button {
        display: block;
        position: absolute;
    }

    #header ul {
        display: none; 
        text-align: left; 
        padding: 20px 10px; 
        background-color: rgba(0, 0, 0, 0.253);
        height: 600px;
    }

    #header ul li {
        display: block;
        padding: 15px;
    }

    #header li {
        display: block; 
        padding: 10px;
        margin-top: 30px;
    }
    
}



/* Container 2 */
#container-02{
    background-color: var(--main-color-background);
    height: 500px;
    text-align: center;
}

#container-02 hr{
    background: rgb(0,0,153);
    background: linear-gradient(106deg, rgba(0,0,153,1) 26%, rgba(255,74,0,1) 100%);
    width: 5%;
    padding: 2px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}
/* Container 3 */
#container-03{
    background-color: var(--sec-color-background);
    height: 500px;
}

#container-03 h1{
    text-align: center;
    padding: 5px;
}
/* Container 4 */
#container-04{
    background-color: var(--main-color-background);
    height: 500px;
}   

#container-04 h1{
    text-align: center;
    padding: 5px;
}
/* Container 5 */
#container-05{
    background-color: var(--sec-color-background);
    height: 500px;
}

#container-05 h2{
    text-align: center;
}
/* Footer */

footer{
    background-color: #000099;
    text-align: center;
    height: 70px;
    
}
