:root {
    --main-color-background: #D9D9D9;
    --sec-color-background: #d9d9d9a4;
    --secondary-color: #000099;
    --text-color: white;
    --text-color-night: black;
    --orange-maincolor: #FF4A00;
}

/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

/* barra de rolagem */

html ::-webkit-scrollbar{
    width: 10px;
  }
  
  html ::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 5px;
  }
  
  html ::-webkit-scrollbar-track{
    background-color: transparent;
    width: 5px;
  }

/* Container 1 */
#container-01-main {
    background: rgb(0,0,153);
    background: linear-gradient(106deg, rgba(0,0,153,1) 26%, rgba(255,74,0,1) 100%);
    height: 750px;
    text-align: center;
}

@media screen and (max-width: 1400px) {

    #container-01-main {
        height: 550px;
    }

}

#header{
    text-align: center;
}

#header li {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

#header ul li {
    display: inline-block; 
    margin-right: 0;
}

#header a{
    color: var(--text-color-night);
    font-weight: bolder;
    text-decoration: none;
}

/*Menu*/
.menu-button {
    color: var(--orange-maincolor);
    display: none;
    cursor: pointer;
    height: 50px;
    font-size: 24px;
    margin: 10px;
    margin-left: 15px;
}


/* Estilo para o menu principal */

#header ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
}

/* Estilos para telas pequenas (max-width: 1000px) */
@media screen and (max-width: 1000px) {
    .menu-button {
        display: block;
        position: absolute;
    }

    #header ul {
        display: none; 
        text-align: left; 
        padding: 20px 10px; 
        background-color: rgba(0, 0, 0, 0.253);
        height: 600px;
    }

    #header ul li {
        display: block;
        padding: 15px;
    }

    #header li {
        display: block; 
        padding: 10px;
        margin-top: 30px;
    }
    
}

/*Slider*/

/* Estilos para tela grande (largura mínima de 1400px) */
@media screen and (max-width: 5000px) {
    .carousel-small {
        display: none;
    }
    .carousel-large .carousel-slide img{
        margin-top: 20px;
        width: 1100px;
        height: 600px;
        border-radius: 15px;
    }
    .carousel-small {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .carousel-large {
        display: block;
    }
    .carousel-large .carousel-slide img{
        margin-top: 30px;
        width: 900px;
        height: 450px;
        border-radius: 15px;
    }
    .carousel-small {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .carousel-large .carousel-slide img{
        margin-top: 30px;
        width: 900px;
        border-radius: 15px;
    }

    .carousel-small {
        display: none;
    }
    
}

/* Estilos para tela pequena (largura máxima de 1000px) */

@media screen and (max-width: 1000px) {
    .carousel-large .carousel-slide img{
        margin-top: 30px;
        width: 850px;
        border-radius: 15px;
    }
    .carousel-large {
        display: block;
    }
    .carousel-small {
        display: none;
    }
    
}

@media screen and (max-width: 850px) {
    .carousel-large .carousel-slide img{
        margin-top: 70px;
        width: 750px;
        border-radius: 15px;
    }
    #container-01-main{
        height: 600px;
    }
    
}

@media screen and (max-width: 650px) {
    .carousel-small .carousel-slide img{
        margin-top: 70px;
        width: 450px;
        border-radius: 15px;
    }
    .carousel-large {
        display: none;
    }
    .carousel-small {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .carousel-small .carousel-slide img{
        margin-top: 70px;
        width: 350px;
        border-radius: 15px;
    }
    #container-01-main{
        height: 500px;
    }
}

@media screen and (max-width: 400px) {
    .carousel-small .carousel-slide img{
        margin-top: 70px;
        width: 330px;
        border-radius: 15px;
    }
    #container-01-main{
        height: 470px;
    }
}

@media screen and (max-width: 300px) {
    .carousel-small .carousel-slide img{
        margin-top: 70px;
        width: 270px;
        border-radius: 15px;
    }
    #container-01-main{
        height: 400px;
    }
}

/*Button Slider*/

#container-01-main button {
    width: 165px;
    height: 62px;
    margin: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: black;
    transition: 0.1s;
    font-weight: bolder;
  }
  
  #container-01-main button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,   17.8%, rgba(2,245,255,1) 100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #container-01-main button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  var(--orange-maincolor) 17.8%, var(--secondary-color) 100.2% );
    transition: 0.5s;
  }


/* Container 2 */
#container-02{
    background-color: var(--main-color-background);
    height: 500px;
    text-align: center;
}

#container-02 hr{
    background: rgb(0,0,153);
    background: linear-gradient(106deg, rgba(0,0,153,1) 26%, rgba(255,74,0,1) 100%);
    width: 5%;
    padding: 2px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}

/* Container 3 */
#container-03{
    background-color: var(--sec-color-background);
    height: 500px;
}

#container-03 h1{
    text-align: center;
    padding: 5px;
}

/* Container 4 */
#container-04{
    background-color: var(--main-color-background);
    height: 500px;
}   

#container-04 h1{
    text-align: center;
    padding: 5px;
}
/* Container 5 */
#container-05{
    background-color: var(--sec-color-background);
    height: 500px;
}

#container-05 h2{
    text-align: center;
}
/* Footer */

footer{
    background-color: #000099;
    text-align: center;
    height: 70px;
    
}
